---
import { Image } from "astro:assets";
import { projects } from "../typescript/data.ts";

---

<section class="section project" id="showcase">
	<p class="statement">I've already make 3 website projects within 1-2 months to improve my programming skill</p>
    <div class="project_container">
        {projects.map((project) => (
            <div class="project_content smooth">
                <div class="left_side">
                    <h1 class="project_title">{project.name}</h1>
                    <div class="white-br"></div>
                    <p class="project_description">
                        {project.desc}
                    </p>
                </div>
                <div class="image_border">
                    <a href={`/projects/${project.url}`} class="project_link">
                        <Image src={project.main_image} alt={project.image_alt} fetchpriority="low" height="350" />
                    </a>
                    <span>Click To Learn More..</span>
                </div>
            </div>
        ))}
    </div>
</section>